
body  {
   background-color: #93FFD8;
}

h1 {
color: #548CFF;
}


h2 {

   color: #548CFF;
}



h3 {
   color: #548CFF;
}



h4 {
   color: #548CFF;
}



h5 {
   color: #548CFF;
}



h6 {
   color: #548CFF;
}
hr {
border-style: none;
border-top-style: dotted;
border-color: #00B4D8;
border-width: 5px;
width: 5%;

}

p {

color: #3be022;



}








